@charset "UTF-8";
/*utils*/
/*color*/
/*base*/
.contenu-page {
  font-family: "roboto";
  box-sizing: border-box;
  position: relative;
  min-height: 2300px;
  max-width: 2560px;
}

.contenu-page-1 {
  font-family: "roboto";
  box-sizing: border-box;
  position: relative;
  min-height: 1800px;
  max-width: 2560px;
}

.contenu-page-1-la-note-enchantee {
  font-family: "roboto";
  box-sizing: border-box;
  position: relative;
  min-height: 1900px;
  max-width: 2560px;
}

.police-du-titre {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: bold;
}

/* btn page accueil*/
.reservation__btn {
  color: white;
  font-size: 20px;
  padding: 10px 20px 20px 40px;
  margin-bottom: 30px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 4px 4px 4px 4px #d8d8d8;
  border-radius: 35px;
  border: none;
}

/*btn icone coeur*/
.restaurants button {
  background-color: white;
}

.btn-icone-coeur {
  border: none;
  padding: 0;
}

.icone-coeur-1 {
  font-size: 25px;
  position: relative;
}
.icone-coeur-1:active .icone-coeur-2 {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 1200ms ease-in-out;
  transform: scale(2);
  transform-origin: bottom;
}

.icone-coeur-2 {
  font-size: 11px;
  position: absolute;
  top: 44%;
  right: 30%;
  color: transparent;
}

/*btn page menu*/
/*btn commander*/
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 5% 10% 65% 10%;
}
.btn:hover .btn-commander {
  box-shadow: 3px 3px 3px 3px silver;
  opacity: 0.7;
}

.btn-commander {
  color: white;
  font-size: 15px;
  padding: 5% 15%;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 60px;
  border: none;
}

/*btn coche*/
.menu .menu__icone-coche {
  border: none;
  padding: 0;
}

i.far.fa-check-circle {
  font-size: 30px;
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
  padding: 0%;
  -webkit-animation: spin 600ms;
          animation: spin 600ms;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu__icone-coche {
  display: none;
  height: 70px;
  width: 15%;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  -webkit-animation: coche 200ms;
          animation: coche 200ms;
}

@-webkit-keyframes coche {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes coche {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}
/*layout*/
/*footer*/
footer, p {
  margin: 0px;
}

footer a {
  text-decoration: none;
}

footer.pied-de-page {
  padding-top: 5%;
  margin-top: 100px;
}

.pied-de-page-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: #333333;
  opacity: 1;
  padding-top: 6%;
  color: #f2f2f2;
}

.pied-de-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: #333333;
  opacity: 1;
  color: #f2f2f2;
}
.pied-de-page__logo-1 {
  padding: 1% 6% 6% 6%;
}

.pied-de-page__bloc {
  font-size: 20px;
  padding-left: 7%;
}

.pied-de-page__bloc-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pied-de-page__bloc-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pied-de-page__icone-1 {
  padding-right: 20px;
  font-size: 1rem;
}

.pied-de-page__icone-2 {
  padding-right: 12px;
  font-size: 1rem;
}

.pied-de-page__contact {
  padding-bottom: 30px;
  color: white;
}

/*formulaire accueil*/
.formulaire {
  height: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid grey;
  background-color: lightgrey;
}
.formulaire__formulaire-de-recherche {
  background-color: lightgrey;
}

.formulaire__champs-de-recherche {
  border: none;
  padding-left: 20px;
  font-size: 15px;
  background-color: lightgrey;
}

/*page accueil*/
.logo {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*pages*/
/*loading-spinner*/
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: white;
  z-index: 1;
  opacity: 1;
  transform-origin: bottom;
  -webkit-animation: loader 1s both;
          animation: loader 1s both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.spinner {
  width: 80px;
  height: 80px;
  border: 16px solid;
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-left-color: #99E2D0;
  border-right-color: #99E2D0;
  -webkit-animation: spinner 1s infinite;
          animation: spinner 1s infinite;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*rubrique reservation page accueil*/
.reservation {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #f2f2f2;
}

.reservation__bloc:hover .reservation__btn {
  box-shadow: 3px 3px 3px 3px silver;
  opacity: 0.7;
}

.reservation,
h1 {
  margin-bottom: 2%;
}

.reservation__titre-1 {
  font-size: 28px;
}

.reservation__texte-1 {
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 6%;
}

/*rubrique fonctionnement*/
.fonctionnement {
  margin-top: 30px;
  width: 100%;
}

.fonctionnement__bloc-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.fonctionnement__bloc {
  position: relative;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #ededed;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 80%;
  margin-bottom: 30px;
  padding: 5%;
}
.fonctionnement__bloc:hover {
  background-color: #f7f2fc;
}
.fonctionnement__bloc:hover .fonctionnement__icone {
  color: #9356DC;
}

.fonctionnement__numero {
  border-radius: 50%;
  padding: 2px 3px;
  font-size: 10px;
  width: 3%;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  position: absolute;
  left: -10px;
}

.fonctionnement__icone {
  padding-left: 8%;
  padding-right: 8%;
  font-size: 18px;
  color: grey;
}

.fonctionnement__liste {
  font-weight: bold;
}

h2 {
  margin-left: 15px;
}

/*rubrique page restaurants accueil*/
.restaurants {
  margin-top: 30px;
  padding-bottom: 200px;
  padding-top: 30px;
  background-color: #f2f2f2;
}

section a {
  text-decoration: none;
  color: black;
}

.restaurant__card {
  position: relative;
  height: 260px;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #e6e6e6;
  background-color: white;
  margin-top: 30px;
  margin-left: 10px;
  box-sizing: border-box;
}

.restaurants img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  border-radius: 15px 15px 0px 0px;
  box-sizing: border-box;
}

.restaurant__card-image img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-sizing: border-box;
}

.restaurant__texte-image {
  padding-right: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.restaurant__texte-image-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5%;
}

.restaurant__titre {
  font-size: 18px;
  margin-top: 4%;
  margin-bottom: 0%;
}

.restaurant__titre-nouveau {
  font-size: 15px;
  text-align: center;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  width: 18%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  top: 20px;
  left: 250px;
}

/* rubrique page restaurant*/
.icone-fleche {
  font-size: 25px;
  color: black;
  margin-top: 50px;
  outline: none;
}

.fleche-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.image-carte-restaurant img {
  height: 300px;
  width: 100%;
  margin-top: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
}

.menu {
  padding-left: 5%;
  background-color: #f2f2f2;
  border-radius: 55px 55px 0px 0px;
  border-top: 2px solid grey;
  position: absolute;
  top: 350px;
  right: 0px;
  left: 0px;
}

.menu__nom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
}

.section, h1 {
  margin: 0;
}

.menu__titre-restaurant-1 {
  font-size: 12px;
  font-family: "Shrikhand";
  padding: 10% 0% 5% 4%;
}

.menu__restaurant {
  padding-bottom: 5%;
}

.menu__titre {
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
}
.menu__titre::after {
  content: "";
  border: 3px solid #99E2D0;
  border-bottom: #99E2D0;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 8%;
}

.menu__bloc {
  width: 92%;
  margin-bottom: 5%;
  padding-left: 4%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #e6e6e6;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.menu__bloc:hover .menu__icone-coche {
  display: inline-block;
}

.menu__bloc-1 {
  padding-bottom: 2%;
}

.menu__intitulé {
  margin-top: 4%;
  margin-bottom: 0%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__accompagnement {
  margin-top: 0%;
  padding-bottom: 2%;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__prix {
  padding-top: 5%;
  margin-left: auto;
  margin-right: 6%;
  font-weight: bold;
}

.menu__animation-1 {
  -webkit-animation: defilement 2s both;
          animation: defilement 2s both;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.menu__animation-2 {
  -webkit-animation: defilement 2s both;
          animation: defilement 2s both;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu__animation-3 {
  -webkit-animation: defilement 2s both;
          animation: defilement 2s both;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

@-webkit-keyframes defilement {
  0% {
    transform: scale(0);
    transform-origin: bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom;
  }
}

@keyframes defilement {
  0% {
    transform: scale(0);
    transform-origin: bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom;
  }
}
/*media queries*/
/*media queries*/
/*page accueil*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*base*/
  .contenu-page {
    min-height: 1750px;
  }

  /*rubrique fonctionnement*/
  section.fonctionnement {
    padding: 0;
  }

  .fonctionnement__bloc-principal {
    display: flex;
    flex-direction: row;
  }

  .fonctionnement__bloc {
    margin-right: 20px;
    margin-left: 15px;
    padding: 1%;
  }

  .fonctionnement__numero {
    width: 6%;
  }

  /*rubrique restaurant*/
  .restaurant.restaurant__icone-coeur.icone-coeur-media {
    right: 9%;
  }

  .restaurant__bloc {
    display: flex;
  }

  .restaurant__bloc-1 {
    width: 100%;
  }

  .restaurant__bloc-2 {
    width: 100%;
  }

  .restaurant__card {
    height: 320px;
  }

  .restaurants img {
    height: 250px;
  }

  /*footer*/
  footer.pied-de-page {
    padding-top: 2%;
  }
}
@media all and (min-width: 1024px) {
  /*base*/
  .contenu-page {
    min-height: 1400px;
  }

  /*rubrique formulaire*/
  .formulaire__champs-de-recherche {
    font-size: 20px;
    padding-left: 10px;
  }

  .formulaire__icone-localisation {
    padding-left: 30px;
  }

  /*rubrique reservation*/
  .reservation {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .reservation__bloc {
    padding: 2%;
  }

  .reservation__titre-1 {
    padding-bottom: 3%;
  }

  /*rubrique fonctionnement*/
  .fonctionnement__bloc-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 20px;
  }

  .fonctionnement__bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    margin-left: 30px;
    padding: 1%;
  }

  .fonctionnement__numero {
    width: 5%;
    padding: 2px 5px;
    font-size: 12px;
  }

  /*rubrique restaurant*/
  .restaurants {
    width: 100%;
    padding-bottom: 200px;
  }

  .restaurant__bloc-media {
    display: flex;
    width: 100%;
  }

  .restaurant img {
    height: 220px;
  }

  .restaurant__card-image img {
    width: 100%;
  }

  .icone-coeur-2:hover {
    color: transparent;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 1200ms ease-in-out;
    transform: scale(2);
    transform-origin: bottom;
  }

  /*footer*/
  .pied-de-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
  }
  .pied-de-page__logo-1 {
    padding: 0;
  }

  .pied-de-page__bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .pied-de-page__bloc-1 {
    padding-right: 20px;
  }

  .pied-de-page__bloc-2 {
    padding-right: 20px;
  }

  .pied-de-page__mentions-légales {
    padding-right: 20px;
  }

  .pied-de-page__contact {
    padding-bottom: 0;
  }
}
/*page menu*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*base*/
  .contenu-page-1 {
    min-height: 2400px;
  }

  .contenu-page-1-la-note-enchantee {
    min-height: 2550px;
  }

  /*page menu restaurant*/
  .menu__titre {
    margin-left: 4%;
    width: 45%;
  }

  .menu__nom {
    padding-right: 12%;
  }

  .menu__prix {
    padding: 3% 2%;
  }

  /*btn menu*/
  .btn {
    padding-bottom: 30%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  /*base*/
  .contenu-page-1 {
    min-height: 1350px;
  }

  .contenu-page-1-la-note-enchantee {
    min-height: 1400px;
  }

  /*page menu restaurant*/
  .menu-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .menu__bloc {
    width: 100%;
  }
  .menu__bloc:hover .menu__icone-coche {
    display: inline-block;
  }

  .menu__icone-coche {
    height: 90px;
    width: 30%;
  }

  .menu__bloc-1 {
    font-size: 18px;
    width: 100%;
  }

  .menu__nom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu__titre {
    margin-left: 4%;
    width: 100%;
  }

  .menu__restaurant {
    width: 30%;
  }

  .menu__titre-restaurant-1 {
    font-size: 18px;
    padding-top: 5%;
    padding-right: 2%;
  }

  .menu__intitulé {
    width: 70%;
    font-size: 17px;
  }

  .menu__accompagnement {
    width: 50%;
    font-size: 16px;
  }

  .menu__prix {
    font-size: 13px;
  }

  .menu__icone-coche {
    padding: 6%;
  }

  /*btn menu*/
  .btn {
    padding-bottom: 28%;
  }

  .btn-commander {
    padding: 2% 7%;
    font-size: 20px;
  }

  /*footer*/
  footer.pied-de-page {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 0px;
  }
}
@media all and (min-width: 1440px) {
  /*base*/
  .contenu-page-1 {
    min-height: 1500px;
  }

  .contenu-page-1-la-note-enchantee {
    min-height: 1500px;
  }

  /*page menu restaurant*/
  .menu-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .menu__bloc {
    width: 100%;
  }
  .menu__bloc:hover .menu__icone-coche {
    display: inline-block;
  }

  .menu__icone-coche {
    height: 90px;
    width: 30%;
  }

  .menu__bloc-1 {
    font-size: 18px;
    width: 100%;
  }

  .menu__nom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu__titre {
    margin-left: 4%;
    width: 100%;
  }

  .menu__restaurant {
    width: 30%;
  }

  .menu__titre-restaurant-1 {
    font-size: 18px;
    padding-top: 5%;
    padding-right: 2%;
  }

  .menu__intitulé {
    width: 70%;
    font-size: 17px;
  }

  .menu__accompagnement {
    width: 50%;
    font-size: 16px;
  }

  /*btn*/
  .btn {
    padding-bottom: 18%;
  }

  .btn-commander {
    padding: 2% 7%;
    font-size: 20px;
  }

  /*footer*/
  footer.pied-de-page {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 0px;
  }
}/*# sourceMappingURL=main.css.map */