 /* rubrique page restaurant*/
.icone-fleche {
    font-size: 30px;
    margin-right: 60px;
    color: black;
  }
  .image-carte-restaurant img {
    height: 400px;
    width: 100%;
    margin-top: 30px;
    object-fit: cover;
    object-position: center;
    position: relative;
  }
  .menu {
    padding-left: 5%;
    background-color: lighten(lightgrey, 15%);
    border-radius: 75px 75px 0px 0px;
    border-top: 2px solid grey; 
    position: absolute;
    top:430px;
    right: 0px;
    left: 0px;
  }
  .menu__nom {
    @include flexbox-row-space-between;
    padding-right: 50px;
  } 
  .menu__titre-restaurant-1 {
    font-size: 12px;
    font-family: "Shrikhand";
    padding: 10%;
  }
  .menu__icone-coeur {
    font-size: 30px; 
  }
  .menu__titre {
    font-size: 1rem; 
  }
  .menu__bloc {
    width: 90%;
    margin-bottom: 5%;
    padding:0% 0% 0% 4%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px lighten(grey, 40%);
    background-color: white;
    @include flexbox-row-space-between;
  }
  .menu__bloc-1 {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu__icone-coche {
    display: none;
    &:hover {
      overflow: hidden;
      color: $color-tertiary;
      border-radius: 0px 25px 0px 25px;
      background-color: $color-tertiary;
      padding: 20px;
    }
  }
  .menu__accompagnement{
    margin-top: -5%;
    padding-bottom: 5%;
  }
  .menu__titre {
    font-size: 20px;
  }
  .menu__prix{
    font-weight: bold;
    padding-right: 10%;
  }
  