 /* rubrique page restaurant*/

  .icone-fleche {
    font-size:25px;
    color: black;
  }
  .image-carte-restaurant img {
    height: 300px;
    width: 100%;
    margin-top: 30px;
    object-fit: cover;
    object-position: center;
    position: relative;
  }
  .menu {
    padding-left: 5%;
    background-color: lighten(lightgrey, 12%);
    border-radius: 75px 75px 0px 0px;
    border-top: 2px solid grey; 
    position: absolute;
    top:300px;
    right: 0px;
    left: 0px;
  }
  .menu__nom {
    @include flexbox-row-space-between;
    padding-right:14%;
  } 
  .section, h1 {
    margin: 0;
  }
  .menu__titre-restaurant-1 {
    font-size: 12px;
    font-family: "Shrikhand";
    padding: 7% 0% 5% 4%;
  }
  .menu__icone-coeur {
    font-size: 28px;
  }
  .menu__restaurant {
    padding-bottom: 5%;
  }
  .menu__titre {
    font-size: 20px; 
  }
  .menu__bloc {
    width: 90%;
    margin-bottom: 5%;
    padding:0% 0% 0% 4%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px lighten(grey, 40%);
    background-color: white;
    @include flexbox-row-space-between;
  }
  .menu__bloc-1 {
    padding-bottom:2%;
  }
  .menu__intitulé {
    margin-top: 4%;
    margin-bottom: 0%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu__accompagnement {
    margin-top: 0%;
    padding-bottom: 2%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu__icone-coche {
    display: none;
    &:active {
      overflow: hidden;
      color: $color-tertiary;
      border-radius: 0px 25px 0px 25px;
      background-color: $color-tertiary;
      padding: 2%;
      cursor: pointer;
      transform: translateY(100px,0);
      transition: transform 330ms ease-in-out;
    }
  }
  .menu__prix{
  padding: 6% 10% 0% 0%; 
  font-weight: bold;
  }
  