
  /*rubrique reservation page accueil*/
  .reservation {
      height: 650px;
      margin-top: -50px;
      margin-bottom: 50px;
      width:100%;
      background-color: lighten(lightgrey, 12%);
        &__bloc {
        @include flexblox-column;  
        }
      }
    .reservation__texte {
      height: 60px;
      width: 100%;
      margin-top: 100px;
      margin-bottom: 20px;
      font-size: 50px;
      text-align: center;
      @include flexbox-center;
    }
    .reservation__titre-1 {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 0px;
    }
   
    /*rubrique fonctionnement*/
    
    .fonctionnement {
      height: 800px;
      margin-top: 100px;
      margin-bottom: 10px;
      width: 100%;
      &__bloc {
        @include flexbox-row-center;
        font-size: 40px;
        height: 150px;
        width: 100%;
        margin-bottom: 40px;
        border-radius: 45px;
        box-shadow: 7px 7px 7px 7px lighten(grey, 25%);
        background-color: lighten(lightgrey, 12%);
       
        &:hover {
          background-color:lighten($color-primary, 30%);
        }
      }
    }
    .fonctionnement ul {
      list-style: none;
      font-size: 45px;
      li {
        font-weight: bold; 
        @include flexblox-column;
      }
    }
    .fonctionnement__titre {
      margin-left: 40px;
      font-size: 55px;
    }
    .fonctionnement__numero {
      border-radius: 30px;
      border: 2px solid $color-primary;
      padding: 15px;
      font-size: 28px;
      background-color: $color-primary;
      color: white;
      text-align: center;
    }
    .fonctionnement__positionnement-1 {
   
    }
    .fonctionnement__positionnement-2 {
    
    }
    .fonctionnement__positionnement-3 {
      
    }
    .fonctionnement__icone {
      color: grey;
      padding-left: 10%;
      &:hover {
      color:$color-primary;
      }
    }
    /*rubrique page restaurants accueil*/
    .restaurants {
      height: 3000px;
      margin-top: 20px;
      margin-bottom:50px;
      padding-top: 50px;
      padding-bottom: 100px;
      background-color: lighten(lightgrey, 12%);
      &__bloc {
        height: 2500px;
        margin-bottom: 60px;
      }
    }
    section a {
      text-decoration: none;
      color: black;
    }
    .restaurant__card{
      height: 650px;
      width: 90%;
      margin-left: 40px;
      border-radius: 25px;
      @include shadow;
      background-color: white;
      margin-top: 50px;
      margin-bottom: 50px;
      box-sizing: border-box;
    }
    .restaurants img {
      width:100%;
      height: 450px;
      object-fit: cover;
      object-position: center bottom;
      border-radius: 35px 35px 0px 0px;
    }
    .restaurant__card-image img{
      height: 450px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .restaurant__texte-image {
      font-size: 45px;  
      padding-right: 10%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }
    .restaurant__texte-image-1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 5%;
      padding-top: -6%;
    }
    .restaurant__ville {
      padding-bottom: 5%;
      margin-top: -10%;
    }
    .restaurant__icone-coeur {
      color: grey;
      font-size: 75px;
      padding-top: 95%;
      margin-left: 40%;
    }
    .restaurant__titre-principale {
      margin-left: 50px;
      font-size: 55px;
    }
    .restaurant__titre {
      font-size: 45px;
    }
    .restaurant__titre-nouveau-1 {
      font-size: 40px;
      text-align: center;
      border: 2px solid $color-tertiary;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 35%);
      font-weight: bold;
      width: 22%;
      padding-top: 5px;
      padding-bottom: 5px;
     
    }
    .restaurant__titre-nouveau-2 {
      font-size: 40px;
      text-align: center;
      border: 2px solid $color-tertiary;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 35%);
      font-weight: bold;
      width: 22%;
      padding-top: 5px;
      padding-bottom: 5px;
      
    }