  /*rubrique reservation page accueil*/
  .reservation {
    padding-bottom: 5%;
    @include flexbox-column-space-between;
    text-align: center;
    background-color: lighten($color-lightgrey,12%);
  }
  .reservation__titre-1 {
    font-size: 28px;
    padding-bottom: 0%;
  }
  .reservation__texte-1{
    font-size: 20px;
    margin-top: 3% ;
  }
    /*rubrique fonctionnement*/
    .fonctionnement {
      margin-top: 30px;
      width: 100%;
    }
    .fonctionnement__bloc-principal {
    @include flexbox-column-space-between;
    position: relative;
    }
    .fonctionnement__bloc {
      border-radius: 15px;
      box-shadow: 3px 3px 3px 3px lighten($color-lightgrey,10%);
      background-color: lighten(#f2f2f2,2%) ; 
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      margin-bottom: 30px;
      &:hover {
        background-color: lighten($color-primary, 37%);
      }
    }
    .fonctionnement__numero {
      border-radius: 30px;
      padding:2px 5px;
      font-size: 10px;
      border: 2px solid $color-primary;
      background-color:$color-primary;
      color: white;
      text-align: center;  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: left;
    }
    .fonctionnement__positionnement-1 {
     position: absolute; 
     top:20px;
     left:10px;
    }
    .fonctionnement__positionnement-2 {
      position: absolute; 
      top:102px;
      left:10px;
     }
     .fonctionnement__positionnement-3 {
      position: absolute; 
      top:185px;
      left:10px;
     }
    ul {
      list-style: none;
      li {
        font-weight: bold;
        font-size: 17px;
      }
    }
    .fonctionnement__icone {
      padding-left: 12%;
      font-size: 18px;
      color: grey;
      &:hover {
        color: $color-primary;
      }
    }
    h2 {
      margin-left: 15px;
    }
    /*rubrique page restaurants accueil*/
    .restaurants { 
      margin-top: 30px;
      padding-bottom:80px;
      padding-top: 30px;
      background-color: #f2f2f2;
      position: relative;
    }
    section a {
      text-decoration: none;
      color: black;
    }
    .restaurant__card{
      height: 260px;
      width: 95%;
      margin-bottom: 10px;
      border-radius: 15px;
      box-shadow:5px 5px 5px 5px lighten(grey, 40%) ;
      background-color: white;
      margin-top: 30px;
      margin-left: 10px;
      box-sizing: border-box;
    }
    .restaurants img {
      width:100%;
      height: 180px;
      object-fit: cover;
      object-position: center bottom;
      border-radius: 15px 15px 0px 0px;
      box-sizing: border-box;
    }
    .restaurant__card-image img{
      height: 180px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      box-sizing: border-box;
    }
    .restaurant__texte-image {  
      padding-right: 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .restaurant__texte-image-1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 5%;
    }
    .restaurant__icone-coeur {
      color: grey;
      font-size: 30px;
      
    }
    .restaurant__titre {
      font-size: 18px;
      margin-bottom: 0%;
    }
    .restaurant__titre-nouveau-1 {
      font-size: 15px;
      text-align: center;
      border: 2px solid $color-tertiary;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 35%);
      font-weight: bold;
      width: 25%;
      padding-top: 5px;
      padding-bottom: 5px;
      position: absolute;
      top:120px;
      left: 220px;
    }
    .restaurant__titre-nouveau-2 {
      font-size: 15px;
      text-align: center;
      border: 2px solid $color-tertiary;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 35%);
      font-weight: bold;
      width: 25%;
      padding-top: 5px;
      padding-bottom: 5px;
      position: absolute;
      top:410px;
      left:220px;
    }