/*footer*/
  .pied-de-page {
    font-size: 25px;
    background-color: lighten(black, 20%);
    color: #f2f2f2; 
    &__logo-1 {
    padding: 7%;
    }
  }
  .pied-de-page__bloc { 
    font-size:20px;
    padding-left: 7%;
  }
  .pied-de-page__bloc-1 {
   @include flexbox-row-center;
    padding: 0px;
  }
  .pied-de-page__bloc-2 {
   @include flexbox-row-center;
    padding: 0px;
  }
  .pied-de-page__icone-1 {
    padding-right: 20px;
  }
  .pied-de-page__icone-2 {
    padding-right: 10px;
  }
  .pied-de-page__mentions-legales {
    padding: 0px;
  }
  .pied-de-page__contact {
    padding-bottom: 20px;
  }
