/*formulaire accueil*/
.formulaire {
  height: 50px;
  margin-top: 20px;
  @include flexbox-row (row,center,center);
  border-top: 2px solid grey;
  background-color: $color-lightgrey;
  &__formulaire-de-recherche {
    background-color: $color-lightgrey;
  }
}
.formulaire__champs-de-recherche {
  border: none;
  padding-left: 20px;
  font-size: 15px;
  background-color: $color-lightgrey;
}