/* btn accueil*/
.reservation__btn {
  color: white;
  font-size: 20px;
  padding: 10px 20px 20px 40px;
  margin-bottom: 30px;
  background-image: linear-gradient(to top,$color-primary,$color-secondary);
  box-shadow: 4px 4px 4px 4px silver;
  border-radius: 35px;
  border: none;
  &__:hover {
    box-shadow: 2px 2px 2px 2px lighten($color-lightgrey, 50%);
    opacity: 1;
  }
}
/*btn menu*/
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lighten(lightgrey, 12%);
  padding: 5% 10% 50% 10%;
}
.btn-commander {
  color: white;
  font-size: 15px;
  padding: 5% 15%;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 60px;
  border: none;
}