/*media queries*/
@media screen and (min-width:768px) and (max-width:990px){
/* rubrique reservation*/
.reservation__texte {
    padding: 5% 0% 5% 0%;
}
section.fonctionnement {
    padding: 0;
}
.fonctionnement, ul {
    padding: 5%;
}
.fonctionnement__bloc-principal {
    @include flexbox-row-space-between;
    width: 100%;
} 
.fonctionnement__bloc {
    margin-right:20px;
    margin-left:15px;
}
.fonctionnement__positionnement-1 {
    top: 12px;
    left: 2px;  
}
.fonctionnement__positionnement-2 {
    top: 12px; 
    left:260px;
}
.fonctionnement__positionnement-3 {
    top:12px;
    left: 520px;
}
.fonctionnement__icone {
    padding-left: 10px;
}
/*rubrique restaurant*/
.restaurant__bloc {
    display: flex;
}
.restaurant__card {
    height: 320px;
}
.restaurants img {
    height: 250px;
}
.restaurant__titre-nouveau-1 {
    top: 150px;
    left: 220px;
    width: 15%;
}
.restaurant__titre-nouveau-2 {
    top:500px;
    left: 220px;
    width: 15%;
}
/*base*/
.contenu-page{
    min-height: 1750px;
}
}

@media screen and (min-width:990px) and (max-width:2000px){
/*base*/
.contenu-page{
    min-height: 1300px;
}
/*formulaire*/
.formulaire__champs-de-recherche {
    font-size:20px;
    padding-left: 10px;
}
/*rubrique reservation*/
.reservation {
    padding-bottom: 2%;
    &__bloc {
    padding: 2%;  
}
}
.reservation__titre-1 {
    padding-bottom: 3%;
}
/*rubrique fonctionnement*/
.fonctionnement__bloc-principal {
    @include flexbox-row-justify-center;
    width: 100%;
    margin-left: 20px;
} 
.fonctionnement__bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 230px;
    margin-left: 20px;    
}
li {
    font-size: 30px;
}
.fonctionnement__numero {
    border-radius: 30px;
    padding:3px 7px;
    font-size: 12px;
}
.fonctionnement__positionnement-1 {
    top: 15px;
    left: 10px;  
}
.fonctionnement__positionnement-2 {
    top: 15px;
    left:540px
}
.fonctionnement__positionnement-3 {
    top:15px;
    left: 1065px;
}
/*rubrique restaurant*/
.restaurants {
    width: 100%;
    padding-bottom: 70px;
}
.restaurant__bloc-media {
    display: flex;
    width: 100%;
}
.restaurant img {
    height: 220px;
}
.restaurant__card {
    width: 100%;
}
.restaurant__card-image img{
    width: 100%;
}
.restaurant__titre-nouveau-1 {
    top: 140px;
    left:260px;
    width: 6%;
}
.restaurant__titre-nouveau-2 {
    top: 140px; 
    left: 660px;
    width: 6%;   
}
/*footer*/
.pied-de-page {
  font-size: 40px; 
    &__logo-1 {
    padding: 3%;
    font-size: 30px;
}
}
.pied-de-page__bloc { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
}
.pied-de-page__contact {
    padding-bottom: 0px;
}
}
