@charset "UTF-8";
/*utils*/
/*color*/
/*base*/
body {
  font-family: "Roboto";
  height: 6000px;
  box-sizing: border-box;
}

.police-du-titre {
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: bold;
}

/* btn accueil*/
.reservation__btn {
  color: white;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 250px;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 4px 4px 4px 4px silver;
  border-radius: 60px;
  border: none;
}
.reservation__btn:hover {
  box-shadow: 4px 4px 4px 4px #9a9a9a;
  opacity: 1;
}

/*btn menu*/
.btn {
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  margin-right: -150px;
}

.btn-commander {
  color: white;
  font-size: 50px;
  padding: 30px;
  padding-left: 120px;
  padding-right: 120px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 60px;
  border: none;
}

/*layout*/
/*footer*/
.pied-de-page__logo-1 {
  font-size: 50px;
  padding: 5%;
}

.pied-de-page {
  height: 500px;
  background-color: #333333;
  color: white;
}

.pied-de-page__bloc {
  height: 200px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding-left: 50px;
}

.pied-de-page__bloc-1 {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
}

.pied-de-page__bloc-2 {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pied-de-page__icone-1 {
  margin-right: 50px;
}

.pied-de-page__icone-2 {
  margin-right: 30px;
}

.pied-de-page__contact {
  margin-top: 0px;
}

/*formulaire accueil*/
.formulaire {
  height: 100px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid grey;
  background-color: lightgrey;
}
.formulaire__formulaire-de-recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: lightgrey;
}

.formulaire__barre-de-recherche {
  height: 50px;
  width: 100%;
  margin-left: 100px;
  font-size: 40px;
}

.formulaire__champs-de-recherche {
  height: 50px;
  padding-left: 30px;
  border: none;
  background-color: lightgrey;
}

.logo {
  margin-top: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*pages*/
/*rubrique reservation page accueil*/
.reservation {
  height: 650px;
  margin-top: -50px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #f2f2f2;
}
.reservation__bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservation__texte {
  height: 60px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation__titre-1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0px;
}

/*rubrique fonctionnement*/
.fonctionnement {
  height: 800px;
  margin-top: 100px;
  margin-bottom: 10px;
  width: 100%;
}
.fonctionnement__bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  height: 150px;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 45px;
  box-shadow: 7px 7px 7px 7px silver;
  background-color: #f2f2f2;
}
.fonctionnement__bloc:hover {
  background-color: #e4d5f6;
}

.fonctionnement ul {
  list-style: none;
  font-size: 45px;
}
.fonctionnement ul li {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fonctionnement__titre {
  margin-left: 40px;
  font-size: 55px;
}

.fonctionnement__numero {
  border-radius: 30px;
  border: 2px solid #9356DC;
  padding: 15px;
  font-size: 28px;
  background-color: #9356DC;
  color: white;
  text-align: center;
}

.fonctionnement__icone {
  color: grey;
  padding-left: 10%;
}
.fonctionnement__icone:hover {
  color: #9356DC;
}

/*rubrique page restaurants accueil*/
.restaurants {
  height: 3000px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}
.restaurants__bloc {
  height: 2500px;
  margin-bottom: 60px;
}

section a {
  text-decoration: none;
  color: black;
}

.restaurant__card {
  height: 650px;
  width: 90%;
  margin-left: 40px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px silver;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.restaurants img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  border-radius: 35px 35px 0px 0px;
}

.restaurant__card-image img {
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.restaurant__texte-image {
  font-size: 45px;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurant__texte-image-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: -6%;
}

.restaurant__ville {
  padding-bottom: 5%;
  margin-top: -10%;
}

.restaurant__icone-coeur {
  color: grey;
  font-size: 75px;
  padding-top: 95%;
  margin-left: 40%;
}

.restaurant__titre-principale {
  margin-left: 50px;
  font-size: 55px;
}

.restaurant__titre {
  font-size: 45px;
}

.restaurant__titre-nouveau-1 {
  font-size: 40px;
  text-align: center;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  width: 22%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.restaurant__titre-nouveau-2 {
  font-size: 40px;
  text-align: center;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  width: 22%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* rubrique page restaurant*/
.icone-fleche {
  font-size: 60px;
  margin-left: -200px;
  margin-right: 220px;
}

.image-carte-restaurant img {
  height: 650px;
  width: 1130px;
  margin-top: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.restaurant__menu {
  height: 3500px;
  width: 100%;
  margin-bottom: 50px;
  background-color: #f2f2f2;
  border-radius: 95px 95px 0px 0px;
  border-top: 2px solid grey;
}

.restaurant__nom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
}

.restaurant__titre-1 {
  font-size: 40px;
  font-family: "Shrikhand";
  margin-top: 70px;
  padding-left: 60px;
}

.entrée {
  height: 1000px;
  font-size: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 40px;
  width: 100%;
}
.entrée__bloc {
  height: 220px;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 45px;
  box-shadow: 5px 5px 5px 5px silver;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.entrée__bloc-1 {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entrée__icone-coche {
  display: none;
}
.entrée__icone-coche:hover {
  overflow: hidden;
  color: #99E2D0;
  border-radius: 0px 25px 0px 25px;
  background-color: #99E2D0;
  padding: 20px;
}

.entrée__accompagnement {
  margin-top: -5%;
  padding-bottom: 5%;
}

.entrée__titre {
  font-size: 50px;
}

.entrée__prix {
  padding-right: 6%;
  padding-top: 8%;
  font-weight: bold;
}

.plats {
  height: 1000px;
  font-size: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  width: 100%;
}
.plats__bloc {
  height: 220px;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 45px;
  box-shadow: 5px 5px 5px 5px silver;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.plats__bloc-1 {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plats__icone-coche {
  display: none;
}

.plats__accompagnement {
  margin-top: -5%;
  padding-bottom: 5%;
}

.plats__titre {
  font-size: 50px;
}

.plats__prix {
  padding-right: 6%;
  padding-top: 8%;
  font-weight: bold;
}

.desserts {
  height: 1000px;
  font-size: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  width: 100%;
}
.desserts__bloc {
  height: 220px;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 45px;
  box-shadow: 5px 5px 5px 5px silver;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.desserts__bloc-1 {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desserts__accompagnement {
  margin-top: -5%;
  padding-bottom: 5%;
}

.desserts__titre {
  font-size: 50px;
}

.desserts__prix {
  padding-right: 6%;
  padding-top: 8%;
  font-weight: bold;
}

.desserts__icone-coche {
  display: none;
}

/*media queries*/
/*media queries*//*# sourceMappingURL=main.css.map */