@charset "UTF-8";
/*utils*/
/*color*/
/*base*/
.contenu-page {
  font-family: "Roboto";
  box-sizing: border-box;
  position: relative;
  min-height: 2250px;
}

.contenu-page-1 {
  font-family: "Roboto";
  box-sizing: border-box;
  min-height: 1680px;
  position: relative;
}

.contenu-page-1-la-note-enchantee {
  font-family: "Roboto";
  box-sizing: border-box;
  min-height: 1750px;
  position: relative;
}

.police-du-titre {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: bold;
}

/* btn accueil*/
.reservation__btn {
  color: white;
  font-size: 20px;
  padding: 10px 20px 20px 40px;
  margin-bottom: 30px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 4px 4px 4px 4px silver;
  border-radius: 35px;
  border: none;
}
.reservation__btn__:hover {
  box-shadow: 2px 2px 2px 2px white;
  opacity: 1;
}

/*btn menu*/
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 5% 10% 50% 10%;
}

.btn-commander {
  color: white;
  font-size: 15px;
  padding: 5% 15%;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 60px;
  border: none;
}

/*layout*/
/*footer*/
footer, p {
  margin: 0px;
}

.pied-de-page-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: #333333;
  color: #f2f2f2;
}

.pied-de-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: #333333;
  color: #f2f2f2;
}
.pied-de-page__logo-1 {
  padding: 6%;
}

.pied-de-page__bloc {
  font-size: 20px;
  padding-left: 7%;
}

.pied-de-page__bloc-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pied-de-page__bloc-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pied-de-page__icone-1 {
  padding-right: 20px;
  font-size: 1rem;
}

.pied-de-page__icone-2 {
  padding-right: 12px;
  font-size: 1rem;
}

.pied-de-page__contact {
  padding-bottom: 30px;
}

/*formulaire accueil*/
.formulaire {
  height: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid grey;
  background-color: lightgrey;
}
.formulaire__formulaire-de-recherche {
  background-color: lightgrey;
}

.formulaire__champs-de-recherche {
  border: none;
  padding-left: 20px;
  font-size: 15px;
  background-color: lightgrey;
}

/*page accueil*/
.logo {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*pages*/
/*loading-spinner*/
.load {
  display: none;
  margin: auto;
  margin-top: 100px;
  width: 80px;
  height: 80px;
  border: 16px solid grey;
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  -webkit-animation: loader linear 3s;
          animation: loader linear 3s;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*rubrique reservation page accueil*/
.reservation {
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #f2f2f2;
}

.reservation, h1 {
  margin-bottom: 1%;
}

.reservation__titre-1 {
  font-size: 28px;
}

.reservation__texte-1 {
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 6%;
}

/*rubrique fonctionnement*/
.fonctionnement {
  margin-top: 30px;
  width: 100%;
}

.fonctionnement__bloc-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.fonctionnement__bloc {
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #ededed;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-bottom: 30px;
}
.fonctionnement__bloc:hover {
  background-color: #f7f2fc;
}

.fonctionnement__numero {
  border-radius: 30px;
  padding: 2px 5px;
  font-size: 10px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.fonctionnement__positionnement-1 {
  position: absolute;
  top: 20px;
  left: 10px;
}

.fonctionnement__positionnement-2 {
  position: absolute;
  top: 102px;
  left: 10px;
}

.fonctionnement__positionnement-3 {
  position: absolute;
  top: 185px;
  left: 10px;
}

ul {
  list-style: none;
}
ul li {
  font-weight: bold;
  font-size: 17px;
}

.fonctionnement__icone {
  padding-left: 12%;
  font-size: 18px;
  color: grey;
}
.fonctionnement__icone:hover {
  color: #9356DC;
}

h2 {
  margin-left: 15px;
}

/*rubrique page restaurants accueil*/
.restaurants {
  margin-top: 30px;
  padding-bottom: 80px;
  padding-top: 30px;
  background-color: #f2f2f2;
  position: relative;
}

section a {
  text-decoration: none;
  color: black;
}

.restaurant__card {
  height: 260px;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #e6e6e6;
  background-color: white;
  margin-top: 30px;
  margin-left: 10px;
  box-sizing: border-box;
}

.restaurants img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  border-radius: 15px 15px 0px 0px;
  box-sizing: border-box;
}

.restaurant__card-image img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-sizing: border-box;
}

.restaurant__texte-image {
  padding-right: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.restaurant__texte-image-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5%;
}

.restaurant__icone-coeur {
  color: grey;
  font-size: 28px;
}

.restaurant__titre {
  font-size: 18px;
  margin-top: 4%;
  margin-bottom: 0%;
}

.restaurant__titre-nouveau-1 {
  font-size: 15px;
  text-align: center;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  width: 18%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  top: 120px;
  left: 250px;
}

.restaurant__titre-nouveau-2 {
  font-size: 15px;
  text-align: center;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  width: 18%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  top: 410px;
  left: 250px;
}

/* rubrique page restaurant*/
.icone-fleche {
  font-size: 25px;
  color: black;
}

.image-carte-restaurant img {
  height: 300px;
  width: 100%;
  margin-top: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
}

.menu {
  padding-left: 5%;
  background-color: #f2f2f2;
  border-radius: 75px 75px 0px 0px;
  border-top: 2px solid grey;
  position: absolute;
  top: 300px;
  right: 0px;
  left: 0px;
}

.menu__nom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 14%;
}

.section, h1 {
  margin: 0;
}

.menu__titre-restaurant-1 {
  font-size: 12px;
  font-family: "Shrikhand";
  padding: 7% 0% 5% 4%;
}

.menu__icone-coeur {
  font-size: 28px;
}

.menu__restaurant {
  padding-bottom: 5%;
}

.menu__titre {
  font-size: 20px;
}

.menu__bloc {
  width: 90%;
  margin-bottom: 5%;
  padding: 0% 0% 0% 4%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #e6e6e6;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu__bloc-1 {
  padding-bottom: 2%;
}

.menu__intitulé {
  margin-top: 4%;
  margin-bottom: 0%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__accompagnement {
  margin-top: 0%;
  padding-bottom: 2%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__icone-coche {
  display: none;
}
.menu__icone-coche:active {
  overflow: hidden;
  color: #99E2D0;
  border-radius: 0px 25px 0px 25px;
  background-color: #99E2D0;
  padding: 2%;
  cursor: pointer;
  transform: translateY(100px, 0);
  transition: transform 330ms ease-in-out;
}

.menu__prix {
  padding: 6% 10% 0% 0%;
  font-weight: bold;
}

/*media queries*/
/*media queries*/
/*page accueil*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* rubrique reservation*/
  .reservation__texte {
    padding: 5% 0% 5% 0%;
  }

  section.fonctionnement {
    padding: 0;
  }

  .fonctionnement, ul {
    padding: 5%;
  }

  .fonctionnement__bloc-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .fonctionnement__bloc {
    margin-right: 20px;
    margin-left: 15px;
  }

  .fonctionnement__positionnement-1 {
    top: 27px;
    left: 2px;
  }

  .fonctionnement__positionnement-2 {
    top: 27px;
    left: 260px;
  }

  .fonctionnement__positionnement-3 {
    top: 27px;
    left: 520px;
  }

  .fonctionnement__icone {
    padding-left: 10px;
  }

  /*rubrique restaurant*/
  .restaurant__bloc {
    display: flex;
  }

  .restaurant__card {
    height: 320px;
  }

  .restaurants img {
    height: 250px;
  }

  .restaurant__titre-nouveau-1 {
    top: 150px;
    left: 220px;
    width: 15%;
  }

  .restaurant__titre-nouveau-2 {
    top: 500px;
    left: 220px;
    width: 15%;
  }

  /*base*/
  .contenu-page {
    min-height: 1750px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  /*base*/
  .contenu-page {
    min-height: 1250px;
  }

  /*formulaire*/
  .formulaire__champs-de-recherche {
    font-size: 20px;
    padding-left: 10px;
  }

  .formulaire__icone-localisation {
    padding-left: 30px;
  }

  /*rubrique reservation*/
  .reservation {
    padding-bottom: 2%;
  }
  .reservation__bloc {
    padding: 2%;
  }

  .reservation__titre-1 {
    padding-bottom: 3%;
  }

  /*rubrique fonctionnement*/
  .fonctionnement__bloc-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 20px;
  }

  .fonctionnement__bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30px;
    margin-left: 20px;
  }

  li {
    font-size: 30px;
  }

  .fonctionnement__numero {
    border-radius: 30px;
    padding: 3px 7px;
    font-size: 12px;
  }

  .fonctionnement__positionnement-1 {
    top: 15px;
    left: 10px;
  }

  .fonctionnement__positionnement-2 {
    top: 15px;
    left: 440px;
  }

  .fonctionnement__positionnement-3 {
    top: 15px;
    left: 870px;
  }

  /*rubrique restaurant*/
  .restaurants {
    width: 100%;
    padding-bottom: 100px;
  }

  .restaurant__bloc-media {
    display: flex;
    width: 100%;
  }

  .restaurant img {
    height: 220px;
  }

  .restaurant__card {
    width: 100%;
  }

  .restaurant__card-image img {
    width: 100%;
  }

  .restaurant__titre-nouveau-1 {
    top: 140px;
    left: 220px;
    width: 6%;
  }

  .restaurant__titre-nouveau-2 {
    top: 140px;
    left: 580px;
    width: 6%;
  }

  /*footer*/
  .pied-de-page {
    font-size: 40px;
  }
  .pied-de-page__logo-1 {
    padding: 3%;
    font-size: 30px;
  }

  .pied-de-page__bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
  }

  .pied-de-page__contact {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  /*rubrique fonctionnement*/
  .fonctionnement__positionnement-1 {
    top: 15px;
    left: 10px;
  }

  .fonctionnement__positionnement-2 {
    top: 15px;
    left: 320px;
  }

  .fonctionnement__positionnement-3 {
    top: 15px;
    left: 620px;
  }

  /*rubrique restaurant*/
  .restaurant__titre-nouveau-1 {
    top: 150px;
    left: 160px;
  }

  .restaurant__titre-nouveau-2 {
    top: 150px;
    left: 420px;
  }
}
@media screen and (min-width: 1440px) {
  /*base*/
  .contenu-page {
    min-height: 1400px;
  }

  /*rubrique fonctionnement*/
  .fonctionnement__bloc-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }

  .fonctionnement__bloc {
    margin-right: 60px;
  }

  .fonctionnement__positionnement-1 {
    top: 15px;
    left: 0px;
  }

  .fonctionnement__positionnement-2 {
    top: 15px;
    left: 460px;
  }

  .fonctionnement__positionnement-3 {
    top: 15px;
    left: 930px;
  }

  /*restaurant*/
  .restaurant__bloc-media {
    display: flex;
    width: 100%;
  }

  .restaurant__titre-nouveau-1 {
    top: 150px;
    left: 250px;
    width: 6%;
  }

  .restaurant__titre-nouveau-2 {
    top: 150px;
    left: 610px;
    width: 6%;
  }

  /*footer*/
  .pied-de-page__bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
  }

  .pied-de-page__contact {
    padding-bottom: 0px;
  }
}
/*page menu*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /*base*/
  .contenu-page-1 {
    min-height: 2150px;
  }

  .contenu-page-1-la-note-enchantee {
    min-height: 2250px;
  }

  /*page menu restaurant*/
  .menu__titre {
    margin-left: 4%;
  }

  .menu__nom {
    padding-right: 15%;
  }

  .menu__prix {
    padding-top: 3%;
  }

  .pied-de-page__logo-1 {
    padding: 4% 0% 4% 7%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  /*base*/
  .contenu-page-1 {
    min-height: 2300px;
  }

  .contenu-page-1-la-note-enchantee {
    min-height: 2400px;
  }

  /*page menu restaurant*/
  .menu__titre {
    margin-left: 4%;
  }

  .menu__nom {
    padding-right: 15%;
  }

  .menu__prix {
    padding-top: 3%;
  }
}
@media screen and (min-width: 1440px) {
  /*base*/
  .contenu-page-1 {
    min-height: 1400px;
  }

  .contenu-page-1-la-note-enchantee {
    min-height: 1500px;
  }

  /*page menu restaurant*/
  .menu-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }

  div.menu__bloc {
    padding-left: 5%;
  }

  .menu__bloc {
    height: 100px;
    width: 100%;
    padding: 0% 12% 0% 15%;
  }

  .menu__bloc-1 {
    font-size: 18px;
    width: 100%;
  }

  .menu__titre {
    margin-left: 4%;
  }

  .menu__nom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }

  .menu__restaurant {
    width: 26%;
  }

  .menu__titre-restaurant-1 {
    font-size: 18px;
    padding-top: 5%;
    padding-right: 2%;
  }

  .menu__prix {
    padding: 8% 5% 0% 2%;
    font-weight: bold;
  }

  /*btn menu*/
  .btn {
    padding-bottom: 20%;
  }

  .btn-commander {
    padding: 2% 7%;
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */