/*Partie accueil*/
/*base*/
body {
    font-family: "robotoregular";
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}
.police-du-titre {
    font-family: "shrikhand-Regular";
    font-size: 30px;
  }

@mixin flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexblox-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flexbox-row{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.formulaire {
  height: 70px;
  width: 100%;
  margin-top: 30px;
  @include flexbox-center;
  background-color: lightgrey;
  &__formulaire-de-recherche {
    @include flexbox-center;
  }
}
.formulaire__barre-de-recherche {
  height: 50px;
  font-size: 25px;
  &__champs-de-recherche {
    height: 50px;
  }
}
.reservation {
  height: 100px;
  width: 100%;
  margin: 20px;
  font-size: 20px;
  &__bloc {
    @include flexblox-column;
  }
}
/*variables*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
/*components*/
.reservation__btn {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: linear-gradient(to top, $color-primary,$color-secondary);
  border-radius: 60px;
  border: none;
}
.fonctionnement {
  margin-top: 200px;
  &__bloc {
    @include flexbox-row;
    font-size: 30px;
    margin-right: 80px;
    margin-left: 80px;
  }
}
.fonctionnement__titre {
  margin-top: 100px;
  margin-left: 100px;
}
.fonctionnement ul {
  list-style: none;
}
/*restaurants*/
.restaurants {
  height: 2300px;
  margin-bottom: 100px;
  &__card{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.restaurants img {
  width:80%;
  height: 420px;
  object-fit: cover;
  object-position: center;
}
.restaurant__bloc {
  height: 2200px;
}
/*layout (mise-en-page)*/
/*header*/
.logo {
  margin-top: 30px;
  font-size: 30px;
  @include flexbox-center;
}
/*footer*/
.pied-de-page {
  height: 200px;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  &__bloc {
    height: 150px;
    font-size:40px;
    .pied-de-page__bloc-1 {
      @include flexbox-row;
      padding-right:50px
    }
    .pied-de-page__bloc-2 {
      @include flexbox-row;
    } 
  }
}
